<!doctype html>
<html>
    <head>
        <%= partial 'partials/layout-head' %>
    </head>

    <body ontouchstart="" class="<%= page_classes %>">
        <%= partial 'partials/title' %>
        <%= yield %>
        <%= partial 'partials/footer' %>
    </body>
</html>
