<!doctype html>
<html lang="en">
    <head>
        <%= partial 'partials/layout-head' %>
    </head>

    <body class="<%= page_classes %>">
        <%= partial 'partials/title' %>
        <main>
        	<%= yield %>
        </main>
        <%= partial 'partials/footer' %>
    </body>
</html>
