<!doctype html>
<html>
    <head>
        <%= partial 'partials/layout-head' %>
    </head>

    <body ontouchstart="" class="<%= page_classes %>">
        <%= partial 'partials/title' %>
        <main class="page-section">
            <div class="container container--post">
                <%= yield %>
            </div>
        </main>
        <%= partial 'partials/footer' %>
    </body>
</html>
