<% content_for(:title, current_article.title) %>
<% content_for(:meta_desc, strip_tags(current_article.summary.to_s)) %>
<% content_for(:meta_img, 'http://www.lendmeyourear.net/images/' + current_article.data.slug + '/cover.jpg') %>

<!doctype html>
<html>
    <head>
        <%= partial 'partials/layout-head' %>
    </head>

    <body class="<%= page_classes %>">
        <%= partial 'partials/title' %>
        <main class="page-section">
            <div class="container container--post">
                <h1><%= current_article.title  %></h1>
                <%= image_tag("images/" + current_article.data.slug + "/cover.jpg", class: "img-bleed post-cover") %>
                <%= yield %>
            </div>
        </main>
        <%= partial 'partials/post-meta' %>
        <%= partial 'partials/intro' %>
        <%= partial 'partials/footer' %>
    </body>
</html>
