<article class="grid">
    <div class="grid__col-5">
        <a href="<%= url %>" class="grid__cell grid__col--bg" style="background-image: url(<%= img %>)"></a>
    </div>
    <div class="grid__col-7 grid--justify-center text-left container--content">
        <h3 class="margin-reset"><a href="<%= url %>"><%= title %></a></h3>
        <p><%= body %></p>
    </div>
</article>
