<nav class="page-section page-section--footer">
    <div class="container container--content">
        <ul class="list-inline lead margin-reset">
            <li>Info:</li>
            <li><%= link_to 'about', '/about.html' %></li>
            <li><%= link_to 'blog', '/blog.html' %></li>
            <li><%= link_to 'portfolio', '/portfolio.html' %></li>
            <li><%= link_to 'github', 'https://github.com/leejordan' %></li>
            <li><%= link_to '@leenternet', 'https://twitter.com/leenternet' %></li>
            <li><%= link_to 'email', 'mailto:ldjordan@gmail.com' %></li>
        </ul>
        <ul class="list-inline lead">
            <li>Tags:</li>
            <% blog.tags.each do |tag, articles| %>
                <li><%= link_to "#{tag}", tag_path(tag) %></li>
            <% end %>
        </ul>
        <%= partial 'partials/search' %>
    </div>
    <script>// chrome has a bug that fires css animations on page load. This empty script tag fixes it. Computers eh?</script>
</nav>
