<nav class="page-section">
    <div class="container">
        <hr>
        <p class="margin-reset lead">Posted on: <%= current_article.date.strftime('%b %e %Y') %></p>
        <ul class="list-inline lead">
            <li>Tagged:</li>
            <% current_article.tags.each do |tag, articles| %>
                <li><%= link_to "#{tag}", tag_path(tag) %></li>
            <% end %>
        </ul>
    </div>
    <div class="grid">
        <% if current_article.previous_article %>
            <div class="grid__col-auto grid--order-2 grid--order-1-xs">
                <a href="<%= current_article.previous_article.url %>" class="grid__cell button button--prev">previous post<br>
                    <%= image_tag("images/" + current_article.previous_article.data.slug + "/cover.jpg") %>
                    <br><%= current_article.previous_article.title %>
                </a>
            </div>
        <% end %>
        <% if current_article.next_article %>
            <div class="grid__col-auto grid--order-1 grid--order-2-xs">
                <a href="<%= current_article.next_article.url %>" class="grid__cell button button--next">next post<br>
                    <%= image_tag("images/" + current_article.next_article.data.slug + "/cover.jpg") %>
                    <br><%= current_article.next_article.title %>
                </a>
            </div>
        <% end %>
        <div class="clearfix"></div>
    </div>
</nav>
