---
title: About me
layout: page_layout
---

<% content_for(:title, 'About me') %>
<% content_for(:meta_desc, 'I am an experienced web developer based in London who has been building websites since 2001. I’m passionate about making websites that work for everybody and value this above all else.') %>
<% content_for(:meta_img, 'https://www.lendmeyourear.net/images/about/portrait.png') %>

<img class="intro-portrait intro-portrait--offset" src="images/about/portrait.png" alt="portrait of Lee Jordan">
<h1 class="margin-reset">About me</h1>
<p>I am an experienced UX specialist and web developer based in London who has been building web based products since 2001. I’m passionate about making <strong>products that work for everybody</strong> and value this above all else.</p>
<p>I'm an outspoken advocate of <strong>user centric design</strong> and I am happy that UX is increasingly being seen as a valuable and important discipline. My personal passion for user centric design springs from a deep rooted <strong>empathy</strong> for the user which comes from my many years experience as a (predominantly front-end) web developer.</p>
<p>In terms of web development, I specialise in designing and building style guides, prototypes for user testing, and front end frameworks to help enforce consistency and reliability across websites.</p>
<p>I've had a long career working with many companies, most notably <%= link_to 'Lovefilm', 'https://en.wikipedia.org/wiki/LoveFilm' %>, <%= link_to 'Amazon', 'https://www.amazon.com/' %>, and <%= link_to 'Graze', 'https://www.graze.com' %> amongst lots of other smaller projects. I contribute to open source software and have created a popular <%= link_to 'flexbox grid framework', 'https://github.com/leejordan/reflex' %> which I actively maintain. I've also been giving talks at various development meetups and am always keen to hear if you are running an event that I could present at, or would like to discuss opportunities.</p>
<p>I follow <strong>web standards</strong> and strive for <strong>accessibility</strong> because it makes sense from both an inclusive and technical argument. I firmly believe that the logical conclusion of these concerns is a website that works for everybody regardless of ability, experience and the device they are using to browse the internet. A true <strong>cross-browser</strong> solution.</p>
<p>I'm a strong advocate of finding the middle ground between <strong>creativity</strong> and <strong>usability</strong> and I believe that web design works best when it is focussed on usability, robustness, and accessibility. In my opinion the closest to perfection you can get on the internet is a site that is effortless to use, works on any device, and looks great.
<p><strong>Responsive</strong> web design and development is my preferred approach and I favour the <strong>device-agnostic</strong> philosophy. As much as possible I believe you should make sure your websites are flexible in layout and flow to fill the available space.</p>
<p><strong>User experience</strong> is a subject I value highly. We should be anticipating pain points for users and designing around them. Users have a goal in mind when they interact with your site and nothing should get in the way of that goal. I believe you should always test your sites with real users and accept any feedback with an open mind.</p>
<p>If you want to know more about me you can look at my <%= link_to 'github profile', 'https://github.com/leejordan' %> or <%= link_to 'send me an email', 'mailto:ldjordan@gmail.com' %>. I'm also on twitter as <%= link_to '@leenternet', 'https://twitter.com/leenternet' %>.</p>
