---
title: Tagged posts
---

<% content_for(:title, pluralize(page_articles.size, 'post') + " tagged as " + tagname ) %>

<main class="page-section">
    <div class="container container--content">
        <h1><%= tagname.capitalize %></h1>
        <p class="lead"><%= pluralize(page_articles.size, 'post') %> tagged as '<%= tagname %>'. <a href="/blog">View all posts</a></p>
        <hr>
        <ul class="list-inline lead">
            <li>More tags:</li>
            <% blog.tags.each do |tag, articles| %>
                <% unless tag == tagname %>
                    <li><%= link_to "#{tag}", tag_path(tag) %></li>
                <% end %>
            <% end %>
        </ul>
        <hr>
    </div>
    <% page_articles.each_with_index do |article, index| %>
        <%= partial 'partials/feature', :locals => {
                :url => '/posts/' + article.slug,
                :img => '/images/posts/' + article.slug + '/cover.jpg',
                :title => article.title,
                :body => article.date.strftime('%b %e %Y')
            } %>
    <% end %>
</main>
